<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <!--
    *************************
      NO NEED TO EDIT FILE
    *************************
    -->
    <pipelines>

      <initialize>
        <processor patch:instead="*[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']"
           type="Website.Windsor.WindsorLoader, Website" />
      </initialize>

    </pipelines>
  </sitecore>

</configuration>
