<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=PR-1WS243\MSSQLSERVER2012;Initial Catalog=SitecoreUserGroupSitecore_core;Integrated Security=True" />
  <add name="master" connectionString="Data Source=PR-1WS243\MSSQLSERVER2012;Initial Catalog=SitecoreUserGroupSitecore_master;Integrated Security=True" />
  <add name="web" connectionString="Data Source=PR-1WS243\MSSQLSERVER2012;Initial Catalog=SitecoreUserGroupSitecore_web;Integrated Security=True" />
</connectionStrings>